<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Certificate</title>
    <link rel="stylesheet" href="file:\\\D:\Documenten\2020-2021\Projecten3\node\templates\styles\certificate.css">
</head>
<body>
    <div>
        <h1>Damien Experience Certificate</h1>
        <h3>Certificate for completion of a the Damien Experience.</h3>
        <h2 id="naam"></h2>
        <h2 id="distance"></h2>
        <h2 id="date"></h2>
        <img class="logo" src="file:\\\D:\Documenten\2020-2021\Projecten3\node\templates\assets\logo.png">
    </div>
</body>
</html>